
.japp-content {
	
	position : absolute;
	overflow : scroll;
}

/* */

.japp-content-large {
	height: calc(100% - 50px);
	width: 100%;
	margin-top : 50px;
	padding : 10px;
}



.japp-content-narrow {
	height: calc(100vh - 50px);
	width : 100%;
	margin-top : 50px;
	padding : 0;
}



.japp-content-short {
	height : 100%;
	width: calc(100% - 150px);
	margin-left : 150px;
	padding : 0;
}
